<%= div_for room do %>
	<div class="room-info">
		<span class="title"><h3><%= room.title %></h3></span>
		<span class="time_created">Creator: <%= room.user.name %></span>
	</div>
	<%= link_to "Go inside!", room, class: "btn btn-primary " %>
<% end %>