@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-top {
	background-color: orange;
	border: 0;
}

.nav.navbar-nav.navbar-right {
    margin-top: 15px;
    float: right;
    li a {
      color: black;
      font-size: 1.5em;
      font-weight: bold;
    }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #D88D03;
}

.btn {
  background-color: orange;
  border: 0;
  &:hover {
    background-color: orange;
    border: 0;
  }
  &:active {
    background-color: orange;
  }
}

#menu-image {
  max-width: 65px;
  max-height: 90px;
  display: inline-block;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.glyphicon-plus-sign {
    display: block;
    color: orange;
    width: 100px;
    text-decoration: none !important;
    border: 0;
    outline: none !important ;
    margin: 0 auto;
    font-size: 150px;
    &:hover {
      text-decoration: none !important;
      border: 0;
      outline: none !important;
      color: #D88D03; 
    };
    &:active {
      color: #D88D03;
    };
    &:focus {
      color: orange;
    }
}

.room {
  width: 195px;
  height: 195px;
  float: left;
  display: inline-block;
  background-color: orange;
  margin: 15px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
  a {
    font-size: 25px;
    background-color: #D88D03;
    &:hover {
      background-color: black; 
    };
  };
}

.room-info {
  heigth: 150px;
  h3 {
    font-weight: bold;
  }
}

.title {
  display: block;
  height: 100px;
  overflow: hidden;
}

.time_created span {
    display:block;
    margin-top: 40px;
  }

.panel-heading
{
    background-color: #FAFAFA;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #FAFAFA;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

#btn-chat {
  margin: 0;
}

#accordion {
  background-color: orange;
}

.panel-primary {
  border-color: #D88D03;
}

#chat-panel {
  min-height: 300px;
  max-height: 700px;
  overflow-y: scroll;
}

#btn-chat {
  float: right;
}

.comment-area {
  
  img {
    max-width: 35px !important;
    padding-bottom: 5px;
  }
  p {
    display: block;
    background-color: #e6e6e6;
    border-radius: 10px;
    word-break: break-all;
    padding: 10px;
    color: #4d4d4d;
  }
}

#session_password {
  margin-bottom: 10px;
}

#user_avatar {
  margin-bottom: 10px;
}

#accordion a {
  color: red;
  float: right;
  font-size: 20px;
}

.glyphicon-remove-sign {
    color: red;
    text-decoration: none !important;
    font-size: 15px;
    &:hover {
      text-decoration: none !important;
      border: 0;
      outline: none !important;
      color: #780000; 
    };
    &:active {
      color: red;
    };
    &:focus {
      color: red;
    }
}

.header_ava {
  width: 50px;
  height: 50px;
  overflow: hidden;
}